.error-box {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    height: 45px;
    background-color:#f44336 ;
    border-radius: 6px;
    margin-bottom: 30px;
}

.error-icon {
    padding-left: 10px;
}

.error-text {
    padding-left: 15px;
    padding-top: 2px;
    font-weight: 600;
}