.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.split-40px {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.split-80px {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.split-20px {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.split-5px {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.split-oneway-20px {
  width: 100%;
  margin-top: 10px;
}
.split-10px {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.video-navigation-buttons {
  text-decoration: none;
  background-color: #e8e8e8;
  margin-left: 20px;
  margin-right: 20px;
  height: 60px;
  text-align: center;
  color: black;
  font-size: 20px;
}

.nav-buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 0px;
}

.post-comment {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.send-icon {
  cursor: pointer;
  position: relative;
  height: 56px;
  margin-left: 15px;
}

.home {
  background-image: url("../../images/homeBackground-01.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.about-icon {
  position: absolute;
  right: 15px;
  display: block;
}

@media screen and (max-width: 400px) {
  .about-icon {
    display: none;
  }
}