h1 {
    margin-bottom: 40px;
}

.page {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.video-wrapper {
    display: flex;
    flex-flow: row;
}

.video-delimeter {
    width: 20px;
}

.sub-heading {
    margin-bottom: 0px;
}

.edit-category-p {
    margin-top: 20px;
    margin-bottom: -10px;
}

.button-add-categories-center {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.home{
    width: 100%;
    height: 100%;
    background-image:url("http://www.downloadclipart.net/svg/37301-simple-blue-background-vector.svg");
}